* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(230, 230, 85);
}

nav {
    margin-top: 25px;
}

.logo {
    display: flex;
    flex-direction: column;
    color: white;
}


ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

ul>li {
    margin-right: 30px;
    color: white;
    font-size: 18px;
}

ul>li:hover {
    text-decoration: underline;
}

.btn {
    background-color: black;
    color: white;
    font-size: 18px;
    width: 150px;
    border-radius: 10px;
    margin: auto;
}


h2 {
    text-align: center;
    margin-top: 200px;
    color: white;
    width: 330px;
    margin-left: 30%;
    border-bottom: 2px solid white;
}

h2:hover {
    text-decoration: underline;
}

h2>span {
    color: rgb(245, 245, 72);
}

.h2-notFound {
    text-align: center;
    margin-top: 200px;
    color: white;
}

p {
    text-align: center;
}